.titel{
    color: white;
    font-size: 3em;
}
.onderTitel{
    color: white;
    font-size: 1.5em;
}
.knop {
    font-size: 1.5em;
    background-color: transparent;
    border: 2px solid #ff6f61;
    padding: 0.5em 1em;
    cursor: pointer;
    text-decoration: none;
}
.knop:hover {
    background-color: #ff6f61;
    color: #282c34;
    border: black solid 2px;
}.link {
    text-decoration: none;
    color: white;
}
.link:hover {
    color: #282c34;
}