.weather-container {
  text-align: center;
  margin-top: 60px;
  font-family: Arial, sans-serif;
}

.search-box {
  margin-bottom: 20px;
}

.search-box input {
  padding: 10px;
  font-size: 16px;
  width: 200px;
}

.search-box button {
  padding: 10px 15px;
  font-size: 16px;
  margin-left: 10px;
  cursor: pointer;
}

.weather-card {
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 10px;
  display: inline-block;
  margin-top: 20px;
}

.description {
  text-transform: capitalize;
}

.error {
  color: red;
  margin-top: 10px;
}
.weer-titel {
    color: white;
    font-size: 3em;
}